---
import Layout from "../layouts/Layout.astro";

import {aboutContent} from "../pageContent/about.js";
import Section from "../components/content/Section.astro";

---

<Layout title="Jon Richards - About Me">
  <main class="p-8 overflow-y-auto">
    <div class="TEMP h-[200vh]">
      {aboutContent.map((section => (
          <Section title="Skills" section={section}/>
      )))}
    </div>
  </main>
</Layout>
