---
import Hero from "../components/Hero.astro";
import SnakeBackground from "../components/SnakeBackground/index.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jon Richards - Web Developer">
  <SnakeBackground/>
  <main class="flex-1 self-end">
    <Hero />
  </main>
</Layout>

