---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jon Richards - Web Developer">
  <header
    class="font-display absolute right-8 md:right-32 bottom-32 bg-green-600/75 border-l-8 border-green-400 text-right p-6 rounded-md shadow-xl"
  >
    <h1 class="font-bold text-7xl text-green-300">Jon Richards</h1>
    <h3 class="text-3xl">Team Lead / Senior Web Developer</h3>

    <hr class="w-48 mt-2 inline-block border-b-2 border-green-300" />

    <nav>
      <Link to="/about">about</Link>
      <!-- <Link to="/demos">demos</Link> -->
    </nav>
  </header>
</Layout>
