---
import Link from "./Link.astro";---
<header class="flex-1 text-right mb-32 bg-gradient-to-l from-slate-800/90 to-60% from-slate-800/0 p-4 text-green-400">
  <h1 class="text-8xl text-green-200">Jon Richards</h1>
  <h3 class="text-4xl">Web Developer</h3>
  <hr class="w-32 mt-2 inline-block border-b-2 border-green-200" />
  <nav>
    <Link to="/about">about</Link>
    <Link to="/demos">demos</Link>
  </nav>
</header>
