---
---

<a class="w-24 block" aria-label="home" href="/">
  <svg viewBox="0 0 34 16" width="100%" >
    <g fill="none" stroke-width="2">
      <g stroke="#00897B">
        <path d="M10 1h5v10a4 4 0 0 1-4 4H9m7.5-14h3a4 4 0 0 1 0 8h-3 2q3 0 4 3t2.5 3"/>
      </g>
      <g stroke-linejoin="round" stroke="#0e4c46b3">
        <path d="M7-1L2 8l5 9"/>
        <path d="M27 17l5-9-5-9"/>
      </g>
    </g>
  </svg>
</a>
