---
import { Image } from "astro:assets";

import Link from "./Link.astro";

import email from "../assets/email.svg";
import github from "../assets/github.svg";
import linkedin from "../assets/linkedin.svg";
import logo from "../assets/logo.svg";
---

<aside
  class="relative bg-green-500/50 backdrop-blur-sm md:w-20 p-2 md:py-6 flex md:flex-col justify-between shadow-xl"
>
  <nav class="flex md:block items-center">
    <a href="/">
      <Image class="w-12 md:w-full" src={logo} alt="Jon Richards" />
    </a>
    <div
      class="font-display hidden md:block md:origin-bottom-left md:translate-x-3 md:rotate-90 md:w-max text-2xl"
    >
      <Link to="/">home</Link>
      <Link to="/about">about</Link>
      {/* <Link to="/demos">demos</Link> */}
    </div>
  </nav>

  <div class="w-32 md:w-1/2 flex md:flex-col gap-3 self-center">
    <a class="flex-1" href="mailto:Jon.Richards@outlook.com">
      <Image
        class="w-full"
        src={email}
        alt="email"
        title="jon.richards@outlook.com"
      />
    </a>
    <a class="flex-1" href="https://linkedin.com/in/jon-r90">
      <Image
        class="w-full"
        src={linkedin}
        alt="linkedin"
        title="linkedin.com/in/jon-r90"
      />
    </a>
    <a class="flex-1" href="https://github.com/jon-r/astro-folio">
      <Image
        class="w-full"
        src={github}
        alt="github"
        title="github.com/jon-r/astro-folio"
      />
    </a>
  </div>
</aside>
