---
import Logo from "./Logo.astro";
import Link from "./Link.astro";
---

<aside class="bg-slate-800/30 backdrop-blur-sm w-24 p-4">
  <nav>
    <Logo/>
    <div class="origin-bottom-left rotate-90 w-max text-2xl text-green-600">
      <Link to="/about">about</Link>
      <Link to="/demos">demos</Link>
    </div>
  </nav>
  <!--  linkedin + ?? -->
</aside>
