---
import Logo from "./Logo.astro";
import Link from "./Link.astro";
---

<aside class="bg-green-500/50 backdrop-blur-sm w-24 p-4">
  <nav>
    <Logo/>
    <div class="origin-bottom-left translate-x-4 rotate-90 w-max text-2xl font-bold">
      <Link to="/">home</Link>
      <Link to="/about">about</Link>
      <Link to="/demos">demos</Link>
    </div>
  </nav>
  <!--  linkedin + email + ?? -->
</aside>
