---
import Layout from "./Layout.astro";
import {MarkdownLayoutProps} from "astro";

type Props = MarkdownLayoutProps<{ title: string }>;

const {frontmatter} = Astro.props;
---
<Layout title={frontmatter.title}>
  <main class="p-8 overflow-y-auto flex-1">
    <section class="max-w-4xl content bg-slate-200 text-green-900 p-8 rounded-md mx-auto">
      <slot/>
    </section>
  </main>
</Layout>

<style>
  .content {
    :global(h2,h3) {
      @apply text-2xl mb-6;
    }

    :global(h2) {
      @apply border-b-2 border-green-600
    }

    :global(h3) {
      @apply text-green-600;
    }

    :global(hr) {
      @apply border-current
    }

    :global(h4) {
      @apply text-xl mb-4;
    }

    :global(ul) {
      @apply list-disc list-inside
    }

    :global(p,ul,table) {
      @apply text-slate-900 font-light mb-4;
    }

    :global(table,thead,tr) {
      @apply w-full
    }

    :global(tr) {
      @apply flex justify-evenly
    }

    :global(th) {
      @apply flex-1;
    }

    :global(a) {
      @apply text-green-600 hover:text-green-800 hover:underline
    }
  }
</style>
