---
import type { MarkdownLayoutProps } from "astro";
import { Image } from "astro:assets";

import Layout from "./Layout.astro";
import Footer from "../components/Footer.astro";

type Props = MarkdownLayoutProps<{
  title: string;
  linkText?: string;
  linkPath: string;
}>;

const { frontmatter } = Astro.props satisfies Props;
---
<Layout title={`Jon Richards - ${frontmatter.title}`}>
  <section
    class="relative max-w-4xl mx-auto shadow-md rounded-md border-l-8 border-green-400"
  >
    <header class="bg-green-600/75 text-green-200 p-8 rounded-tr-md">
      <h1 class="font-display text-5xl font-bold">{frontmatter.title}</h1>
      {
        frontmatter.linkText && (
          <a
            class="hover:text-green-300 hover:underline text-xl"
            href={frontmatter.linkPath}
            download
          >
            {frontmatter.linkText}
          </a>
        )
      }
    </header>
    <article class="relative content bg-green-100 text-green-700 p-8 rounded-br-md z-10">
      <slot />
    </article>
  </section>
  <Footer />
</Layout>

<style>
  .content {
    :global(h2,h3,strong) {
      @apply font-bold;
    }

    :global(h2,h3,h4,h5) {
      @apply font-display;
    }

    :global(h2,h3) {
      @apply text-2xl mb-3;
    }

    :global(h2) {
      @apply border-b-2 border-green-300;
    }

    :global(h2:not(:first-of-type)) {
      @apply mt-8;
    }

    :global(h3) {
      @apply text-green-400;
    }

    :global(hr) {
      @apply border-current;
    }

    :global(h4) {
      @apply text-green-400 text-xl mb-2;
    }

    :global(ul) {
      @apply list-disc list-inside;
    }

    :global(p,ul,table) {
      @apply mb-6;
    }

    :global(table,thead,tr) {
      @apply w-full;
    }

    :global(tr) {
      @apply flex justify-evenly;
    }

    :global(th) {
      @apply flex-1;
    }

    :global(a) {
      @apply text-green-400 hover:text-green-300 hover:underline;
    }
  }
</style>
